@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');
* {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    font-size: large;
    color:hsl(229, 23%, 23%);
}
/* <--------------- FONT STYLING ---------------->*/
.light {
    font-weight: lighter;
    color: hsl(227, 10%, 46%);
}

.small {
    font-size: small;
    margin: 0;
}

.medium{
    font-size: medium;
    margin: 0;
    margin-top: 10px;
}
.big {
    margin: 5px;
}
/* <--------------- FONT STYLING ---------------->*/

body {
    background-color: hsl(185, 75%, 39%);
/*     background-image: url('images/bg-pattern-top.svg'), 
                url('images/bg-pattern-bottom.svg') ;
    background-position: top 50% left -10% ,right 0 bottom -250px ;
    background-size: 50% 11000%,20%;
    background-repeat: no-repeat; */
    justify-content: center;
}

.card {
    background-color: white;
    height: 400px;
    width: 380px;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.top {

    height: 33%;
    border-radius: 10px 10px 0 0 ;
    background: url('images/bg-pattern-card.svg') center/100% no-repeat;
}

.middle {
    height: 40%;
    text-align: center;
    position: relative;
}

.middle img {
    border-radius: 50%;
    border: white solid 5px;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle .middle-text{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 32px;
}

.bottom {
    border-top: 1px solid lightgrey;
    width: 100%;
    display: inline-flex;
    padding: auto;
    padding-top: 8.5%;
}

.bottom-element {
    width: 30%;
    text-align: center;
    height: 100%;
}

.left {
    margin-left: 5%;
}

.right {
    margin-right: 5%;
}